<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RF317SocketForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RF317SocketForm.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>8090</value>
            </setting>
            <!--
              טווח מזהי השלטים שהריסיבר קולט. 100–600 מכסה את ערכות השלטים
              שבשימוש בפועל, במקום 1–10 שהיה כאן ודרש הגדרה ידנית בכל אירוע.
              אלו *ברירות מחדל* בלבד: ההגדרות מסוג user-scoped, ולכן טווח
              שהמשתמש שינה ידנית בחלון הריסיבר נשמר ב-user.config שלו וגובר
              על הערכים כאן.
            -->
            <setting name="min" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="max" serializeAs="String">
                <value>600</value>
            </setting>
        </RF317SocketForm.Properties.Settings>
    </userSettings>
</configuration>